    
#main-navbar{
    background-color: blue;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#navbar-container{
    display: block;
    float: left;
    left: 50%;
    position: relative;
}
#navbar-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    right: 50%;
}
#navbar-container ul li{
    float: left;
    padding: 10px 20px;

}
#navbar-container ul li a{
    color: white;
    text-decoration: none;
}
#onpage{
    text-decoration: underline overline;
    text-decoration-color: white;
}
#sidebar{
    background-color: red;
    position: fixed;
    height: 100%;
    width: 20%;
    right: 0%;
    text-align: center;
}
  
#sidebar-container{
    display: block;
    text-align: center;
    list-style-type: none;
}  
#sidebar-container ul {
    list-style-type: none;
    padding: 0;
}
#sidebar-container ul li{
    padding: 15px;
    list-style-type: none;
    text-align: center;
}
#sidebar-container ul li a{
    list-style-type: none;
    text-decoration: none;
    text-decoration-color: none;
    color: white;
    text-align: center;
}