    
#main-navbar{
    background-color: blue;
    overflow: hidden;
    position: relative;
    width: 100%;
}
#navbar-container{
    display: block;
    float: left;
    left: 50%;
    position: relative;
}
#navbar-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    position: relative;
    right: 50%;
}
#navbar-container ul li{
    float: left;
    padding: 10px 10px;

}
#navbar-container ul li a{
    color: white;
}
